* {
  font-family: 'Helvetica';  
  margin: 0;
  background-color: #E0C186;
  box-sizing: border-box; /* Isso é importante para o modelo de caixa do CSS */

}

body {
  font-weight: bold;
  color: black;
}


#navbar {
 
  padding: 1em;
  margin-bottom: 1em;
}

#navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
}

#navbar ul li a {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-left: 1em;
}



h1 {
    padding-top: 90px;
    margin-bottom: 20px;
    text-align: center;
}

.form {
    width: 450px;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: .3em;
}

.cadastro {
  font-size: 15px;
  border-radius: 20px;
}

.form-control input {
  border-radius: 20px;
  padding: 5px;
}

/* BOOKS */
.books-container {
  width: 450px;
  margin: 0 auto;
  
}

.books-container div {
  
  padding: 5px;
  margin: 5px;
  
}

.botao {
  display: grid;
  place-items: center;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: bold;
  color: black;
}

.bold {
  
  font-weight: bold;
}

.bold a {
  
  color: black;
}


#book-page {
  display: grid;
  place-items: center;
  padding: 2em;
}

#book-page container {
  text-align: center;
}
#book-page p {
  font-weight: bold;
  color: black;
  margin-top: 20px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: black;
  margin-top: 25px;
  /* Adicione a propriedade flex-direction: row; */
 
}

/* Opcional: dar espaço entre os links */
.actions a {
  color: black;
  margin-right: 10px; /* Ajuste conforme necessário */
}

@media (max-width: 768px) {
  .form,
  .books-container {
    width: 100%;
    max-width: none;
  }

  .form {
    padding: 0 15px;
  }

  .botao {
    text-align: center;
    margin: 20px auto; /* Centralizar o botão */
  }
}


